@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<h1>Todo (@items.Count(todo => !todo.IsDone))</h1>

<div class="list d-flex p-2 flex-column">
    @foreach (var item in items)
    {
        <div class="card">
            <div class="card-body">
                <input @bind="item.Title"/>
                <p class="card-text">@item.Description</p>
                <input type="checkbox" @bind="item.IsDone"/>
            </div>
        </div>
    }
</div>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>


@code
{
    class ToDoItem
    {
        public bool IsDone { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
    }

    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            items.Add(new ToDoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

    private readonly List<ToDoItem> items =
        new()
        {
            new ToDoItem { IsDone = true, Title = "Complete Assignment", Description = "Finish the project by Friday." },
            new ToDoItem { IsDone = false, Title = "Buy Groceries", Description = "Get milk, eggs, and bread." }
        };
}